[GENERAL]
USE             = metalworking ; metalworking|leatherworking
EVENTLOG_FOLDER = C:\Steam\steamapps\common\Wurm Unlimited\WurmLauncher\PlayerFiles\players\Ashyja\test_logs\
MAX_ITEM_QL     = 30

[ACTIONS]
ACTION_IMPROVE   = Numpad0
ACTION_REPAIR    = NumpadDot
ACTION_EXAMINE   = NumpadAdd

[TOOLBELT]
TOOLBELT_SLOT_1  = Numpad1
TOOLBELT_SLOT_2  = Numpad2
TOOLBELT_SLOT_3  = Numpad3
TOOLBELT_SLOT_4  = Numpad4
TOOLBELT_SLOT_5  = Numpad5
TOOLBELT_SLOT_6  = 
TOOLBELT_SLOT_7  = 
TOOLBELT_SLOT_8  = 
TOOLBELT_SLOT_9  = 
TOOLBELT_SLOT_10 = 

[SPECIAL]
MESSAGE_NEEDS_REPAIR = You damage
MESSAGE_TOOL_EMPTY   = 'Improve' requires an active item.

[METALWORKING]
MESSAGE_LUMP_POOR_SHAPE = The lump is in too poor shape to improve
MESSAGE_NOT_GLOWING     = Metal needs to be glowing hot while smithing.
MESSAGE_NO_WATER        = You need more water in order to cool
MESSAGE_NEEDS_HAMMER    = has some dents that must be flattened by a hammer.
MESSAGE_NEEDS_LUMP      = could be improved with a lump.
MESSAGE_NEEDS_MORELUMP  = could be improved with some more lump.
MESSAGE_NEEDS_WATER     = by dipping it in water while it's hot.
MESSAGE_NEEDS_WHETSTONE = needs to be sharpened with a whetstone.
MESSAGE_NEEDS_PELT      = with a pelt before you improve it.

TOOLBELT_HAMMER         = 5
TOOLBELT_LUMP           = 4
TOOLBELT_WATER          = 3
TOOLBELT_WHETSTONE      = 1
TOOLBELT_PELT           = 2

[LEATHERWORKING]
MESSAGE_LEATHER_POOR_SHAPE = The leather is in too poor shape to improve
MESSAGE_NEEDS_LEATHER      = could be improved with a leather
MESSAGE_NEEDS_MORELEATHER  = could be improved with some more leather
MESSAGE_NEEDS_MALLET       = A mallet must be used on
MESSAGE_NEEDS_AWL          = needs some holes punched with an awl.
MESSAGE_NEEDS_KNIFE        = that needs to be cut away with a leather knife.
MESSAGE_NEEDS_NEEDLE       = tailored with an iron needle to improve.

TOOLBELT_LEATHER           = 1
TOOLBELT_MALLET            = 2
TOOLBELT_AWL               = 3
TOOLBELT_KNIFE             = 4
TOOLBELT_NEEDLE            = 5